.App {
  text-align: center;
}


.elevator {
  margin: 20px auto;
  width: 8px;

}
.elevator-car {
  width: 4px;
  height: 4px;
  border: 2px solid red;
  position: absolute;
  z-index: 10;
}
.elevator-track {
  width: 8px;
  position: relative;
}

.elevator-track::after {
  content: "";
  width: 2px;
  height: 100%;
  background-color: black;
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
} 


.elevator-stop {
  margin-bottom: 30px;
  position: relative;
}

.elevator-stop__label {
  position: absolute;
  width: 400px;
} 

.elevator-stop__pip {
  width: 8px;
  height: 8px;
  background-color: red;
  background-color: black;
  
}

.elevator-stop--first  {


}
.elevator-stop--last {
  margin-bottom: 0;
}